version: 2
jobs:
  build:
    docker:
      - image: ngngocminh/d9e8:php7.2-node12
    steps:
      - checkout
      - run:
          name: "Check Docker"
          command: echo "Hi"
      - run:
          name: "Check Composer"
          command: composer --version
      - run:
          name: "Check Node"
          command: node -v && npm -v
